
body{
  min-width:  1100px;
  color:  #2c3a46;
  background: #ffffff;
  font-size: 14px;
  line-height:1.6em;
  font-family: Arial, Helvetica, Verdana, Tahoma,sans-serif;
  margin: 0;
  padding: 0;
  border: 0;
}

.header{
  width: 100%;
  min-width: 1100px;
  height: auto;
  position: relative; /*运用相对定位*/
  background: #ffffff;
  border-bottom: 1px solid #ededed;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  z-index: 200;
  transition: all 0.5s ease-in;
}

 .header-conta {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1100px;
  height: 70px;
  zoom: 1;

}
a,li,div,i,h3,p,small,img,ul,span{
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

 .logo {
  display: inline-block;
  width: 72px;
  height: 25px;
  margin-top: 22.5px;
  background-size: 72px 25px;
  background-image: url(images/logo.gif)
}
 .link{
  display: inline-block;
  width: 60px;
  margin-left: 10px;
  margin-bottom: -1px;
}

.alink{
  float: left;
  width: 78px;
  color: #999;
  font-size: 10px;
  font-family: 'PingFang SC';
  font-weight: 300;
  line-height: 13px;
}

.frist{
  float: right;
  zoom: 1;
}
.header ul {
  list-style: none;
}

.frist li {
  float: left;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  padding: 0px 20px;
}
.page{
  color: #FF4444;
}
.daohang{
  z-index: 200;
  margin-right: -12px;
}

li.denglu {
  padding: 0px 0px 0px 20px;
}
.login {
  width: 80px;
  height: 30px;
  line-height: 28px;
  display: inline-block;
  border: 1px solid #2B90ED;
  color: #2B90ED;
  text-align: center; /*文本框里水平居中*/
  border-radius: 2px;
  box-sizing: border-box; /*定义两个并排带边框的框*/
  cursor: pointer;/*鼠标指针变成一只手的形状*/
}

li.zuce{
  padding: 0px 0px 0px 10px;
}
.registered{
  width: 80px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  background-color: #2B90ED;
  color: #ffffff;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

.jiantou{
  position: relative;
  display: inline-block;/*行内块元素*/
  top:2px;
  border:5px solid transparent;
  border-top-color:#333;
}
.jiantoua{
  position: relative;
  display: inline-block;
  top:0px;
  right:14px;
  border:5px solid transparent/*设置为透明*/;
  border-top-color:#ffffff;
}


.banner {
  height: 420px;
  width: 100%;
}
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-a{
  position: relative;
  height: 100%;
  z-index: 1;
  display: flex;
  box-sizing: content-box;
}
.slide{
  width: 100%;
  flex-shrink: 0;
  height:100%;
  position: relative;
}

.content-a{
position: absolute; /*运用绝对定位*/
width:1100px;
height:100%;
top:0;
left:0;
right:0;
bottom: 0;
margin: auto;
}
.swiper .swip-bg img{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position-x:50%;
  background-position-y:center;
}

.content-a h3{
  font-size: 44px;
  margin: 100px 0px 7px;
  line-height: 62px;
}
 .swiper p{
  font-size: 20px;
  color: #777777;
  margin-bottom: 55px;
}

.freetrials{
  font-size: 14px;
  text-decoration: none;/*去掉a标签默认效果，使链接修饰显示无*/
  color: #ffffff;
  border-radius: 2px;
  width: 160px;
  line-height:18px;
  display: inline-block;
  text-align: center;
  box-sizing: border-box;
  background: #3388ff;
  padding: 12px 42px;
}

small{
  font-size: 14px;
  color: #777777;
  margin-top:15px;
  display:block;
}

.square {
  width:1100px;
  height:100%;
  position: absolute;
  top:0;
  right:0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.left-square{
  position: absolute;
  top:50%;
  margin-top:-22px;
  z-index:10;
  cursor:pointer;
  background-position: 50%;
  background-repeat: no-repeat;
  right:1130px;
  left:auto;
  width:60px;
  height:60px;
  background-size: 100% 100%;
  background-image: url(images/t.gif);
}
.right-square{
  position: absolute;
  top:50%;
  margin-top:-22px;
  z-index:10;
  cursor:pointer;
  background-position: 50%;
  background-repeat: no-repeat;/*背景图重复样式为不重复，只显示一张*/
  left:1130px;
  right:auto;
  width:60px;
  height:60px;
  background-size: 100% 100%;
  background-image:url(images/r.gif);
}

.abvisory{
  position: fixed;
  bottom: 56px;
  right: 30px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-image: linear-gradient(-180deg,#549bff,#38f);/*线性渐变效果*/
  z-index: 20;
  opacity: 1;/*透明度级别为默认值1*/
  transition: all 0.5s ease;/*一定的时间区内平滑的过度*/
}
.abvisory p{
  padding: 14px 16px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #fff;
  letter-spacing: 0;/*添加文字和文字间距*/
  line-height: 16px;
}

.mains .biaoti{
  max-width: 1100px;
  margin:0 auto;
  position: relative;
  zoom:1;
}

.mains .daxiao h3{
  font-family: PingFangSC-Medium;
  font-size: 28px;
  color: #333333;
  letter-spacing:0;
}
.mains .biaoti h3 {
  text-align: center;
  font-size: 28px;
  color: #333333;
  line-height: 40px;
  padding-top:90px;
}

.midfra{
  display: -webkit-box;/*定义盒模型*/
  display: -webkit-flex;/*容器*/
  display: flex;
  margin-top: 70px;
}
.wenzi-left{
  -webkit-box-flex: 1;
  flex: 1;
  display: flex;
  -webkit-box-orient: vertical;/*竖向排列*/
  -webkit-box-direction: normal;/*容器内项目排列方向为默认横向排列*/
  flex-direction: column;
}
 .smafra{
  margin-bottom: 28px;
}
.Intitle{
  color: #333;
  font-size: 18px;
  line-height: 24px;
  font-family: PingFangSC-Medium;
  letter-spacing: 0;
}
.AshFonts{
  margin-top: 5px;
  font-family: PingFangSC-Regular;
  font-size: 14px;
  color: #999;
  letter-spacing: 0;
  line-height: 24px;
}

 .freetrial{
  background-color: #3388ff;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 42px;
  border-radius: 2px;
  display: inline-block;
  text-decoration: none;
  margin-right: 15px;
}
.function{
  border: 1px solid #3388ff;
  color: #3388ff;
  padding: 9px 42px;
  font-size: 14px;
  padding: 9px 42px;
  border-radius: 2px; /*添加一个圆角边框*/
  display: inline-block;
  margin-right: 15px;
}

 .tupian-right{
  width:615px;
}
 .tupian-right img{
  width:100%;
}